body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #030d1a;
    font-family: Arial, sans-serif;
    color: #cfcfcf;
    position: relative;
}

.counter {
    text-align: center;
    background: linear-gradient(to bottom, #000033, #1f1f1f);
    padding: 20px;
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative; 
    z-index: 1; 
}

.counter h1 {
    margin: 0;
    font-size: 2em;
}

.counter p {
    font-size: 1.5em;
    margin-top: 10px;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    padding: 5px;
}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.button {
    padding: 10px 20px;
    background-color: #037ab4; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #025d8e; 
}

/* Added styles for box and line */
.box-outline {
    width: 50px; /* Adjust the width of the box */
    height: 50px; /* Adjust the height of the box */
    border: 2px solid red; /* Adjust the border properties as needed */
    border-radius: 10px; /* Add border radius for curved edges */
    position: fixed;
    z-index: 9999;
    pointer-events: none; /* Ensure the box doesn't interfere with mouse events */
}

.line {
    width: 2px; /* Adjust the width of the line */
    height: 50px; /* Ensure the line covers the entire height */
    background: linear-gradient(to top, red, green); /* Adjust the gradient colors as needed */
    position: fixed;
    z-index: 9998;
    pointer-events: none; /* Ensure the line doesn't interfere with mouse events */
}
